{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO! Todo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="max-w-7xl mx-auto py-4">
        <div class="flex justify-between items-center">
            <div>
                <a class="text-xl font-semibold text text-green-600" href="">GO! Todo</a>
            </div>

            <ul class="inline-flex space-x-5 items-center">
                <li>{{.user.Email}}</li>
                <li>
                    <a class="block hover:bg-gray-100 py-2 px-4 rounded-lg cursor-pointer"
                        onclick="document.getElementById('logout-form').submit()">Logout</a>
                    <form id="logout-form" method="POST" action="/logout">
                        {{.csrfField}}
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="max-w-7xl mx-auto">
        {{template "content" .}}
    </div>
</body>

</html>
{{end}}